:root {
  --primary-color: #f39c12;
  --secondary-color: #f1c40f;
  --text-color: #000000;
  --f_gray: #3b3b3b;
  --s_gray: #c3c3c3;
  --t_gray:#c4c4c4;
  --bg-color: #ffffff;
    --pading-x:8rem;

}
